@import "tailwindcss";
@import "./styles/globals.css";

@font-face {
  font-family: "Midable";
  src: url("./assets/fonts/midable/Midable.woff2") format("woff2"),
       url("./assets/fonts/midable/Midable.woff") format("woff"),
       url("./assets/fonts/midable/Midable.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Midable";
  src: url("./assets/fonts/midable/Midable-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
